force-app/main/default/flows/CF_GetEvaluationStatistics.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_No_Output</name>
        <label>Assign No Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>totalEvaluations</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>averageScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasStatistics</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Output</name>
        <label>Assign Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>totalEvaluations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEvalCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>averageScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmAverageScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>startDateText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmStartDateText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasStatistics</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_User_Id</name>
        <label>Assign User Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>agentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Evaluations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vars</name>
        <label>Assign Vars</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEvalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScoreSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Evals.CF_Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Evals</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluations_Found</name>
        <label>Evaluations Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_No_Output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_EvalsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Evaluations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Evals</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Id</name>
        <label>User Id?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_User_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AgentId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>agentId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Evaluations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Retrieves recent call evaluation statistics for the specified agent, including total evaluations and average overall score within a defined time period. This autolaunched flow is used by the Coachforce Employee Agent to provide agents with a concise summary of their recent performance and coaching trends.</description>
    <environments>Default</environments>
    <formulas>
        <name>frmAverageScore</name>
        <dataType>Number</dataType>
        <expression>IF({!varEvalCount} &gt; 0, {!varScoreSum} / {!varEvalCount}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmStartDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() - {!daysBack}</expression>
    </formulas>
    <formulas>
        <name>frmStartDateText</name>
        <dataType>String</dataType>
        <expression>TEXT({!frmStartDate})</expression>
    </formulas>
    <interviewLabel>Coachforce - Get Basic Evaluation Statistics {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Coachforce - Get Evaluation Statistics</label>
    <loops>
        <name>Loop_Evals</name>
        <label>Loop Evals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Evaluations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Output</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Evaluations</name>
        <label>Get Evaluations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluations_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Agent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CF_Evaluation_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>frmStartDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CF_Call_Evaluation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Salesforce user id</description>
        <name>agentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>averageScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>daysBack</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>hasStatistics</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>startDateText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalEvaluations</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varEvalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varScoreSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
