force-app/main/default/flows/CF_Get_Coaching_Session_By_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Coaching_Output</name>
        <label>Assign Coaching Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>foundSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coachingSessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Coaching_Session.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Coaching_Session.CF_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>topic</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Coaching_Session.CF_Coaching_Topic__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>whatWentWell</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Coaching_Session.CF_What_Went_Well__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>improvementArea</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Coaching_Session.CF_Improvement_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>improvedScript</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Coaching_Session.CF_Improved_Script__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rehearsalScenario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Coaching_Session.CF_Rehearsal_Scenario__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Not_Found</name>
        <label>Not  Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>foundSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Coaching_Session_Found</name>
        <label>Coaching Session Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Coaching_Session</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Coaching_Output</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Retrieves the full details of a selected coaching session so Agentforce can present the coaching topic, feedback, improved script, and rehearsal scenario in a structured coaching conversation.</description>
    <environments>Default</environments>
    <interviewLabel>Coachforce: Get Coaching Session By Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Coachforce: Get Coaching Session By Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Coaching_Session</name>
        <label>Get Coaching Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Coaching_Session_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Agent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>coachingSessionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CF_Rehearsal_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CF_Coaching_Session__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Coaching_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>coachingSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>foundSession</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>improvedScript</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>improvementArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>mode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rehearsalCompleted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rehearsalScenario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>topic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>whatWentWell</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
