force-app/main/default/flows/CF_Supervisor_Cruise_Control.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Analyze_Agent_Trends</name>
        <label>Analyze Agent Trends</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CF_AgentTrendAnalysisAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_trend</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>CF_Get_Agent_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookbackEvaluations</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>thresholdPercent</name>
            <value>
                <numberValue>70.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>CF_AgentTrendAnalysisAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Coaching_Generation</name>
        <label>Coaching Generation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CoachForce_Coaching_Session</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Create_Coaching_Session</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:ImprovementAreasText</name>
            <value>
                <elementReference>ImprovementsTextBlock</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Summary</name>
            <value>
                <elementReference>Create_Evaluation_Results_from_JSON.summary</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:CF_Transcript</name>
            <value>
                <elementReference>CF_Transcript.CF_Transcript_Text__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:PrimaryCoachingTopic</name>
            <value>
                <elementReference>Create_Evaluation_Results_from_JSON.primaryCoachingTopic</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CoachForce_Coaching_Session</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Evaluation_Results_from_JSON</name>
        <label>Create Evaluation Results from JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CF_CreateEvaluationResultsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Analyze_Agent_Trends</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>callEvaluationId</name>
            <value>
                <elementReference>evaluationId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CF_CreateEvaluationResultsAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Transcript_Evaluation</name>
        <label>Transcript Evaluation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CF_Transcript_Evaluation</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>CF_Call_Evaluation_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:CF_Transcript</name>
            <value>
                <elementReference>CF_Transcript.CF_Transcript_Text__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:CF_AgentUserId</name>
            <value>
                <elementReference>$Record.CF_Agent__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:CF_CallResult</name>
            <value>
                <elementReference>$Record.CF_Call_Result__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:CF_EvaluationTemplate</name>
            <value>
                <elementReference>CF_Evaluation_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:CF_EvaluationCriteria</name>
            <value>
                <elementReference>CriteriaTextBlock</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CF_Transcript_Evaluation</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Coaching_Session_from_JSON</name>
        <label>Update Coaching Session from JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CF_CreateCoachingSessionAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Trend_Detection_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>coachingSessionId</name>
            <value>
                <elementReference>coachingSessionId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CF_CreateCoachingSessionAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Transcript_Status</name>
        <label>Assign Transcript Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CF_Transcript.CF_Evaluation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Evaluated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Call_Transcript_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTrend</name>
        <label>Assign Trend</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ImprovementsTextBlock</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttImprovementAreas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateCoachingSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Evaluation_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CF_Build_Criteria_Text_Block</name>
        <label>Build Criteria Text Block</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CriteriaTextBlock</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttCriteria</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Criteria</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CF_Create_Coaching_Session</name>
        <label>Create Coaching Session?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Triggering_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CreateCoachingSession</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCreateCoachingSession</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Coaching_Generation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CF_Tenured_Employee</name>
        <label>Tenured Employee?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CF_Get_Agent_Record.CF_Hire_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TodayMinusFourteen</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CF_Transcript</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Trend_Detection</name>
        <label>Create Trend Detection?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Triggering_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_active_trend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trend_Detection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Evaluation_Results</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_trend</name>
        <label>Found trend?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Triggering_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found_trend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Analyze_Agent_Trends.foundTrend</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Trend_Detection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matches_trend</name>
        <label>Matches trend?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Evaluation_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_a_trend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Evaluation_Results.CF_Evaluation_Criteria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Analyze_Agent_Trends.criterionText</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTrend</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Automatically monitors call evaluation trends for tenured agents and creates targeted coaching sessions when a recurring performance issue is detected. Coaching is generated from the current call’s transcript, evaluation summary, and failed criteria, ensuring timely and relevant feedback without manual supervisor review.</description>
    <environments>Default</environments>
    <formulas>
        <name>linebreakString</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>TodayMinusFourteen</name>
        <dataType>Date</dataType>
        <expression> TODAY() - 14</expression>
    </formulas>
    <interviewLabel>Coachforce: Supervisor - Cruise Control {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Coachforce: Supervisor - Cruise Control</label>
    <loops>
        <name>Loop_Criteria</name>
        <label>Loop Criteria</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>CF_Evaluation_Criteria</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CF_Build_Criteria_Text_Block</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Transcript_Evaluation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Evaluation_Results</name>
        <label>Loop Evaluation Results</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Evaluation_Results</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matches_trend</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CF_Create_Coaching_Session</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CF_Call_Evaluation_Record</name>
        <label>Create Call Evaluation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>evaluationId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Evaluation_Results_from_JSON</targetReference>
        </connector>
        <inputAssignments>
            <field>CF_AI_Summary__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Agent__c</field>
            <value>
                <elementReference>CF_Get_Agent_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Evaluation_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Evaluation_JSON__c</field>
            <value>
                <elementReference>Transcript_Evaluation.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Evaluation_Template__c</field>
            <value>
                <elementReference>CF_Evaluation_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Transcript__c</field>
            <value>
                <elementReference>CF_Transcript.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CF_Call_Evaluation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Coaching_Session</name>
        <label>Create Coaching Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>coachingSessionId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Coaching_Session_from_JSON</targetReference>
        </connector>
        <inputAssignments>
            <field>CF_Agent__c</field>
            <value>
                <elementReference>CF_Get_Agent_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Call_Evaluation__c</field>
            <value>
                <elementReference>evaluationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Coaching_JSON__c</field>
            <value>
                <elementReference>Coaching_Generation.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Coaching_Topic__c</field>
            <value>
                <elementReference>Create_Evaluation_Results_from_JSON.primaryCoachingTopic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Mode__c</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>CF_Coaching_Session__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Trend_Detection_Record</name>
        <label>Create Trend Detection Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Triggering_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>CF_Agent__c</field>
            <value>
                <elementReference>CF_Get_Agent_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Criterion__c</field>
            <value>
                <elementReference>Analyze_Agent_Trends.criterionText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Failed_Count__c</field>
            <value>
                <elementReference>Analyze_Agent_Trends.failedCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Pass_Percent__c</field>
            <value>
                <elementReference>Analyze_Agent_Trends.passPercent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Status__c</field>
            <value>
                <stringValue>Needs Coaching</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Summary__c</field>
            <value>
                <elementReference>Analyze_Agent_Trends.summaryMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_Count__c</field>
            <value>
                <elementReference>Analyze_Agent_Trends.totalCount</elementReference>
            </value>
        </inputAssignments>
        <object>CF_Trend_Detection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>CF_Evaluation_Criteria</name>
        <label>Evaluation Criteria</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Evaluation_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CF_Evaluation_Template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CF_Evaluation_Criteria__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CF_Evaluation_Template</name>
        <label>Evaluation Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CF_Evaluation_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Call_Result__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Call_Result__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CF_Evaluation_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CF_Get_Agent_Record</name>
        <label>Get Agent Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CF_Tenured_Employee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Agent__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CF_Transcript</name>
        <label>Transcript</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CF_Evaluation_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Voice_Call__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CF_Call_Transcript__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Evaluation_Results</name>
        <label>Get Evaluation Results</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Evaluation_Results</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Call_Evaluation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>evaluationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CF_Passed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CF_Evaluation_Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Trend_Detection</name>
        <label>Get Trend Detection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Trend_Detection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Agent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CF_Get_Agent_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CF_Criterion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Analyze_Agent_Trends.criterionText</elementReference>
            </value>
        </filters>
        <filters>
            <field>CF_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Needs Coaching</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CF_Trend_Detection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Call_Transcript_Status</name>
        <label>Update Call Transcript Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>CF_Transcript</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Record</name>
        <label>Update Triggering Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Transcript_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>CF_AI_Evaluated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CF_Get_Agent_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Call_Result__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>CF_Agent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CF_AI_Evaluated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CF_Voice_Call__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ttCriteria</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>CATEGORY: {!Loop_Criteria.CF_Category__c}
CRITERION: {!Loop_Criteria.CF_Criteria__c}
MAX SCORE: {!Loop_Criteria.CF_Score__c}</text>
    </textTemplates>
    <textTemplates>
        <name>ttImprovementAreas</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_Evaluation_Results.CF_Evaluation_Criteria__c}</text>
    </textTemplates>
    <variables>
        <name>brString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>BR()</stringValue>
        </value>
    </variables>
    <variables>
        <name>categoryString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;) CATEGORY: &quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>coachingSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>commaString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;,&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>CriteriaCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CriteriaTextBlock</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>evaluationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImprovementsTextBlock</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>maxScoreString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;MAX SCORE: &quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>spaceString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot; &quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>topicString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot; TOPIC: &quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCreateCoachingSession</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
