force-app/main/default/flows/Coachforce_Get_Last_Coaching_Session.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_No_Records_Output</name>
        <label>Assign No Records Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasCoaching</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Output_Variables</name>
        <label>Assign Output Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasCoaching</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coachingTopic</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Coaching_Session.CF_Coaching_Topic__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>improvedScript</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Coaching_Session.CF_Improved_Script__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>improvementArea</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Coaching_Session.CF_Improvement_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rehearsalScenario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Coaching_Session.CF_Rehearsal_Scenario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Coaching_Session.CF_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>whatWentWell</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Coaching_Session.CF_What_Went_Well__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coachingSessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Coaching_Session.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_Coaching_Session</name>
        <label>Has Coaching Session?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_No_Records_Output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Coaching_Session</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Output_Variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Autolaunched flow used by the Coachforce Employee Agent to retrieve the latest Coaching_Session__c record for the current user. Returns structured coaching data (topic, strengths, improvement area, improved script, rehearsal scenario, status) for use in AI-driven coaching conversations.</description>
    <environments>Default</environments>
    <interviewLabel>Coachforce - Get Last Coaching Session {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Coachforce - Get Last Coaching Session</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Latest_Coaching_Session</name>
        <label>Get Latest Coaching Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Coaching_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Agent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CF_Rehearsal_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CF_Coaching_Session__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Latest_Coaching_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>agentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>coachingSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>coachingTopic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>hasCoaching</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>improvedScript</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>improvementArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rehearsalScenario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>whatWentWell</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
