force-app/main/default/flows/CoachForce_Supervisor_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Coaching_Generation</name>
        <label>Coaching Generation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CoachForce_Coaching_Session</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Create_Coaching_Session</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:ImprovementAreasText</name>
            <value>
                <elementReference>ImprovementsTextBlock</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Summary</name>
            <value>
                <elementReference>Create_Evaluation_Results_from_JSON.summary</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:CF_Transcript</name>
            <value>
                <elementReference>CF_Transcript.CF_Transcript_Text__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:PrimaryCoachingTopic</name>
            <value>
                <elementReference>Create_Evaluation_Results_from_JSON.primaryCoachingTopic</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CoachForce_Coaching_Session</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Evaluation_Results_from_JSON</name>
        <label>Create Evaluation Results from JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CF_CreateEvaluationResultsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Find_Improvement_Areas</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>callEvaluationId</name>
            <value>
                <elementReference>evaluationId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CF_CreateEvaluationResultsAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Coachforce_Notification</name>
        <label>Send Coachforce Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0MLaj000001mbuLGAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Your coaching session is ready</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>coachingSessionId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Transcript_Evaluation</name>
        <label>Transcript Evaluation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CF_Transcript_Evaluation</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>CF_Call_Evaluation_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:CF_Transcript</name>
            <value>
                <elementReference>CF_Transcript.CF_Transcript_Text__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:CF_AgentUserId</name>
            <value>
                <elementReference>$Record.CF_Agent__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:CF_CallResult</name>
            <value>
                <elementReference>$Record.CF_Call_Result__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:CF_EvaluationTemplate</name>
            <value>
                <elementReference>CF_Evaluation_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:CF_EvaluationCriteria</name>
            <value>
                <elementReference>CriteriaTextBlock</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CF_Transcript_Evaluation</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Coaching_Session_from_JSON</name>
        <label>Update Coaching Session from JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CF_CreateCoachingSessionAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Have_Eval</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>coachingSessionId</name>
            <value>
                <elementReference>coachingSessionId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CF_CreateCoachingSessionAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Notification_Variables</name>
        <label>Assign Notification Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>You have a new coaching topic:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Evaluation_Results_from_JSON.primaryCoachingTopic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CF_Get_Agent_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Coachforce_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transcript_Status</name>
        <label>Assign Transcript Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CF_Transcript.CF_Evaluation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Evaluated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Call_Transcript_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Improvement_Areas_Text_Block</name>
        <label>Build Improvement Areas Text Block</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ImprovementsTextBlock</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttImprovementAreas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Improvement_Areas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CF_Build_Criteria_Text_Block</name>
        <label>Build Criteria Text Block</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CriteriaTextBlock</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttCriteria</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Criteria</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CF_Onboarding_Agent</name>
        <label>Onboarding?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CF_Get_Agent_Record.CF_Hire_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodayMinusFourteen</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CF_Transcript</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Eval</name>
        <label>Has Eval?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HasEval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>evaluationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Triggering_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Provides structured coaching support for new agents by automatically generating feedback from each evaluated call. Coaching sessions are created using the call transcript, evaluation summary, and identified improvement areas, helping accelerate onboarding and ensure consistent training without requiring manual review.</description>
    <environments>Default</environments>
    <formulas>
        <name>linebreakString</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>TodayMinusFourteen</name>
        <dataType>Date</dataType>
        <expression> TODAY() - 14</expression>
    </formulas>
    <interviewLabel>CoachForce - Supervisor - Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoachForce - Supervisor - Onboarding</label>
    <loops>
        <name>Loop_Criteria</name>
        <label>Loop Criteria</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>CF_Evaluation_Criteria</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CF_Build_Criteria_Text_Block</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Transcript_Evaluation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Improvement_Areas</name>
        <label>Loop Improvement  Areas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Find_Improvement_Areas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Improvement_Areas_Text_Block</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Coaching_Generation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CF_Call_Evaluation_Record</name>
        <label>Create Call Evaluation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>evaluationId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Evaluation_Results_from_JSON</targetReference>
        </connector>
        <inputAssignments>
            <field>CF_AI_Summary__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Agent__c</field>
            <value>
                <elementReference>CF_Get_Agent_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Evaluation_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Evaluation_JSON__c</field>
            <value>
                <elementReference>Transcript_Evaluation.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Evaluation_Template__c</field>
            <value>
                <elementReference>CF_Evaluation_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Transcript__c</field>
            <value>
                <elementReference>CF_Transcript.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CF_Call_Evaluation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Coaching_Session</name>
        <label>Create Coaching Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>coachingSessionId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Coaching_Session_from_JSON</targetReference>
        </connector>
        <inputAssignments>
            <field>CF_Agent__c</field>
            <value>
                <elementReference>CF_Get_Agent_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Call_Evaluation__c</field>
            <value>
                <elementReference>evaluationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Coaching_JSON__c</field>
            <value>
                <elementReference>Coaching_Generation.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Coaching_Topic__c</field>
            <value>
                <elementReference>Create_Evaluation_Results_from_JSON.primaryCoachingTopic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Mode__c</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>CF_Coaching_Session__c</object>
    </recordCreates>
    <recordLookups>
        <name>CF_Evaluation_Criteria</name>
        <label>Evaluation Criteria</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Evaluation_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CF_Evaluation_Template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CF_Evaluation_Criteria__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CF_Evaluation_Template</name>
        <label>Evaluation Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CF_Evaluation_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Call_Result__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Call_Result__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CF_Evaluation_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CF_Get_Agent_Record</name>
        <label>Get Agent Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CF_Onboarding_Agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Agent__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CF_Transcript</name>
        <label>Transcript</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CF_Evaluation_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Voice_Call__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CF_Call_Transcript__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Improvement_Areas</name>
        <label>Find Improvement Areas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Improvement_Areas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Call_Evaluation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>evaluationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CF_Passed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CF_Evaluation_Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Call_Transcript_Status</name>
        <label>Update Call Transcript Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Notification_Variables</targetReference>
        </connector>
        <inputReference>CF_Transcript</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Record</name>
        <label>Update Triggering Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Transcript_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>CF_AI_Evaluated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CF_Get_Agent_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Call_Result__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>CF_Agent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CF_AI_Evaluated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CF_Voice_Call__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttCriteria</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>CATEGORY: {!Loop_Criteria.CF_Category__c}
CRITERIA: {!Loop_Criteria.CF_Criteria__c}
MAX_SCORE: {!Loop_Criteria.CF_Score__c}
NOT_APPLICABLE_WHEN: {!Loop_Criteria.Not_Applicable_When__c}

---</text>
    </textTemplates>
    <textTemplates>
        <name>ttImprovementAreas</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_Improvement_Areas.CF_Evaluation_Criteria__c}</text>
    </textTemplates>
    <variables>
        <name>brString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>BR()</stringValue>
        </value>
    </variables>
    <variables>
        <name>categoryString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;) CATEGORY: &quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>coachingSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>commaString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;,&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>CriteriaCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CriteriaTextBlock</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>evaluationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImprovementsTextBlock</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>maxScoreString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;MAX SCORE: &quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>notificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>spaceString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot; &quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>topicString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot; TOPIC: &quot;</stringValue>
        </value>
    </variables>
</Flow>
