force-app/main/default/flows/Coachforce_Get_Active_Coaching_Sessions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Coaching_Count</name>
        <label>Assign Coaching Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>coachingCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sessionIndex</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasCoaching</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Has_Coaching</name>
        <label>Assign Has Coaching</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasCoaching</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Active_Coaching_Sessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Output</name>
        <label>Assign Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasCoaching</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coachingCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Session_1</name>
        <label>Assign Session 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>coachingSessionId1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Active_Coaching_Sessions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coachingTopic1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Active_Coaching_Sessions.CF_Coaching_Topic__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coachingSummary1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Active_Coaching_Sessions.CF_Improvement_Area__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Active_Coaching_Sessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Session_2</name>
        <label>Assign Session 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>coachingSessionId2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Active_Coaching_Sessions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coachingTopic2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Active_Coaching_Sessions.CF_Coaching_Topic__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coachingSummary2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Active_Coaching_Sessions.CF_Improvement_Area__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Active_Coaching_Sessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Session_3</name>
        <label>Assign Session 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>coachingSessionId3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Active_Coaching_Sessions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coachingTopic3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Active_Coaching_Sessions.CF_Coaching_Topic__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coachingSummary3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Active_Coaching_Sessions.CF_Improvement_Area__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Active_Coaching_Sessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Session_Index</name>
        <label>Increment Session Index</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sessionIndex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Index</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Coaching</name>
        <label>Active Coaching?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ActiveCoaching</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Coaching_Sessions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Has_Coaching</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Index</name>
        <label>Which Index?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Active_Coaching_Sessions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sessionIndex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Session_1</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sessionIndex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Session_2</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sessionIndex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Session_3</targetReference>
            </connector>
            <label>3</label>
        </rules>
    </decisions>
    <description>Retrieves the current agent’s active Cruise Control coaching sessions so Agentforce can present the agent with their current trend-based coaching topics and allow them to select one for review or practice.</description>
    <environments>Default</environments>
    <interviewLabel>Coachforce: Get Active Coaching Sessions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Coachforce: Get Active Coaching Sessions</label>
    <loops>
        <name>Loop_Active_Coaching_Sessions</name>
        <label>Loop Active Coaching Sessions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Active_Coaching_Sessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Session_Index</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Coaching_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Coaching_Sessions</name>
        <label>Get Active Coaching Sessions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Coaching</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Agent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CF_Mode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cruise Control</stringValue>
            </value>
        </filters>
        <filters>
            <field>CF_Rehearsal_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>3.0</numberValue>
        </limit>
        <object>CF_Coaching_Session__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Coaching_Sessions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>agentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coachingCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>coachingSessionId1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>coachingSessionId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>coachingSessionId3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>coachingSummary1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>coachingSummary2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>coachingSummary3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>coachingTopic1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>coachingTopic2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>coachingTopic3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>hasCoaching</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sessionIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
